service/Docker/compose/node-red-data/flows.json
[
    {
        "id": "62947d5f581f77cb",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c4fad207f982e03f",
        "type": "tab",
        "label": "Ligths",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f37c9f369d824e1f",
        "type": "tab",
        "label": "Security",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "70068137e54b09a8",
        "type": "tab",
        "label": "Cooling",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3563d00d68873830",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#613583",
                "baseFont": "Impact,Impact,Charcoal,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#813d9c",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#813d9c",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#813d9c",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#a763c2",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#813d9c",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Kratos Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "89895e19de20a335",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7426176b38d2a214",
        "type": "ui_tab",
        "name": "Temperature",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0fc7b11b032ba303",
        "type": "ui_group",
        "name": "Lampadas",
        "tab": "5911a32f8c4a19e4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6a9428c91ab8b217",
        "type": "ui_group",
        "name": "Security",
        "tab": "ed955c3abd5fad2e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3bafb5f4d0dd6d9e",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "7426176b38d2a214",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ed955c3abd5fad2e",
        "type": "ui_tab",
        "name": "Security",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5911a32f8c4a19e4",
        "type": "ui_tab",
        "name": "Ligth",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "31e5291a19a72c92",
        "type": "ui_group",
        "name": "LEDs",
        "tab": "5911a32f8c4a19e4",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c1ebf1a0d06f37b4",
        "type": "mqtt in",
        "z": "62947d5f581f77cb",
        "name": "",
        "topic": "join",
        "qos": "2",
        "datatype": "utf8",
        "broker": "89895e19de20a335",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 140,
        "wires": [
            [
                "a9f7286c5b429cc1"
            ]
        ]
    },
    {
        "id": "a9f7286c5b429cc1",
        "type": "ui_toast",
        "z": "62947d5f581f77cb",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "casa",
        "name": "Notification",
        "x": 310,
        "y": 140,
        "wires": []
    },
    {
        "id": "b24eca4640c7fe93",
        "type": "ui_ui_control",
        "z": "62947d5f581f77cb",
        "name": "",
        "events": "all",
        "x": 300,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "3f715dbac0af8392",
        "type": "ui_button",
        "z": "62947d5f581f77cb",
        "name": "",
        "group": "3bafb5f4d0dd6d9e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Ligth",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"Security\"],\"show\":[\"Ligth\"]}}",
        "payloadType": "json",
        "topic": "payload",
        "topicType": "msg",
        "x": 90,
        "y": 300,
        "wires": [
            [
                "b24eca4640c7fe93"
            ]
        ]
    },
    {
        "id": "6290c934432d30f7",
        "type": "ui_button",
        "z": "62947d5f581f77cb",
        "name": "",
        "group": "3bafb5f4d0dd6d9e",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Security",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"Ligth\"],\"show\":[\"Security\"]}}",
        "payloadType": "json",
        "topic": "payload",
        "topicType": "msg",
        "x": 100,
        "y": 260,
        "wires": [
            [
                "b24eca4640c7fe93"
            ]
        ]
    },
    {
        "id": "c2ce2ba782e2fbca",
        "type": "aedes broker",
        "z": "62947d5f581f77cb",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 130,
        "y": 80,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "33eee9a40f27fc26",
        "type": "mqtt out",
        "z": "c4fad207f982e03f",
        "name": "",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "89895e19de20a335",
        "x": 350,
        "y": 300,
        "wires": []
    },
    {
        "id": "f93185268a5b65ef",
        "type": "ui_switch",
        "z": "c4fad207f982e03f",
        "name": "",
        "label": "Lamp 2",
        "tooltip": "",
        "group": "0fc7b11b032ba303",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "home/lamp",
        "topicType": "str",
        "style": "",
        "onvalue": "{\"lampNumber\":1,\"isOn\":true}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{     \"lampNumber\": 1,     \"isOn\": false }",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 100,
        "y": 180,
        "wires": [
            [
                "33eee9a40f27fc26"
            ]
        ]
    },
    {
        "id": "865bff9036730978",
        "type": "ui_switch",
        "z": "c4fad207f982e03f",
        "name": "",
        "label": "Lamp 3",
        "tooltip": "",
        "group": "0fc7b11b032ba303",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "home/lamp",
        "topicType": "str",
        "style": "",
        "onvalue": "{\"lampNumber\":2,\"isOn\":true}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{     \"lampNumber\": 2,     \"isOn\": false }",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "33eee9a40f27fc26"
            ]
        ]
    },
    {
        "id": "389aa80be53d35ed",
        "type": "ui_switch",
        "z": "c4fad207f982e03f",
        "name": "",
        "label": "Sala",
        "tooltip": "",
        "group": "0fc7b11b032ba303",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "home/lamp",
        "topicType": "str",
        "style": "",
        "onvalue": "{\"lampNumber\":0,\"isOn\":true}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{     \"lampNumber\": 0,     \"isOn\": false }",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "33eee9a40f27fc26"
            ]
        ]
    },
    {
        "id": "9d7c68e7e218b5a0",
        "type": "mqtt out",
        "z": "c4fad207f982e03f",
        "name": "",
        "topic": "home/ligth/rgb",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "89895e19de20a335",
        "x": 700,
        "y": 620,
        "wires": []
    },
    {
        "id": "58a5060701c4a92e",
        "type": "ui_switch",
        "z": "c4fad207f982e03f",
        "name": "",
        "label": "Lamp 2",
        "tooltip": "",
        "group": "0fc7b11b032ba303",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "home/lamp",
        "topicType": "str",
        "style": "",
        "onvalue": "{\"lampNumber\":1,\"isOn\":true}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{     \"lampNumber\": 1,     \"isOn\": false }",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 100,
        "y": 360,
        "wires": [
            [
                "33eee9a40f27fc26"
            ]
        ]
    },
    {
        "id": "d2cad7b2a4943a6b",
        "type": "ui_switch",
        "z": "c4fad207f982e03f",
        "name": "",
        "label": "Lamp 3",
        "tooltip": "",
        "group": "0fc7b11b032ba303",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "home/lamp",
        "topicType": "str",
        "style": "",
        "onvalue": "{\"lampNumber\":2,\"isOn\":true}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{     \"lampNumber\": 2,     \"isOn\": false }",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 100,
        "y": 420,
        "wires": [
            [
                "33eee9a40f27fc26"
            ]
        ]
    },
    {
        "id": "e9f5a70245227b76",
        "type": "ui_switch",
        "z": "c4fad207f982e03f",
        "name": "",
        "label": "Lamp 1",
        "tooltip": "",
        "group": "0fc7b11b032ba303",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "home/lamp",
        "topicType": "str",
        "style": "",
        "onvalue": "{\"lampNumber\":0,\"isOn\":true}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{     \"lampNumber\": 0,     \"isOn\": false }",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 100,
        "y": 300,
        "wires": [
            [
                "33eee9a40f27fc26"
            ]
        ]
    },
    {
        "id": "baa386ce979d9521",
        "type": "ui_switch",
        "z": "c4fad207f982e03f",
        "name": "",
        "label": "Lamp 4",
        "tooltip": "",
        "group": "0fc7b11b032ba303",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "home/lamp",
        "topicType": "str",
        "style": "",
        "onvalue": "{\"lampNumber\":3,\"isOn\":true}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{     \"lampNumber\": 3,     \"isOn\": false }",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 100,
        "y": 480,
        "wires": [
            [
                "33eee9a40f27fc26"
            ]
        ]
    },
    {
        "id": "c9bc45c16b5a48dc",
        "type": "comment",
        "z": "c4fad207f982e03f",
        "name": "corrigir nomenclaturas",
        "info": "",
        "x": 380,
        "y": 200,
        "wires": []
    },
    {
        "id": "b00fa90491e4f80e",
        "type": "function",
        "z": "c4fad207f982e03f",
        "name": "function 2",
        "func": "if (msg.payload === true) {\n    return {\n        payload: { \"r\": 100, \"g\": 100, \"b\": 100,\"a\":1}, // Mantém a cor selecionada\n        enabled: true // Habilita o color picker\n    };\n} else {\n    return {\n        payload: \"#000000\", // Cor inicial branca\n        enabled: false // Desabilita o color picker\n    };\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 620,
        "wires": [
            [
                "ee9d44a73c9c9a4d"
            ]
        ]
    },
    {
        "id": "41f5d33819526c2d",
        "type": "ui_switch",
        "z": "c4fad207f982e03f",
        "name": "",
        "label": "SUITE-LED",
        "tooltip": "",
        "group": "31e5291a19a72c92",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 660,
        "wires": [
            [
                "b00fa90491e4f80e"
            ]
        ]
    },
    {
        "id": "481d9304fffe2a79",
        "type": "inject",
        "z": "c4fad207f982e03f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "str",
        "x": 130,
        "y": 580,
        "wires": [
            [
                "b00fa90491e4f80e"
            ]
        ]
    },
    {
        "id": "ee9d44a73c9c9a4d",
        "type": "ui_colour_picker",
        "z": "c4fad207f982e03f",
        "name": "",
        "label": "",
        "group": "31e5291a19a72c92",
        "format": "rgb",
        "outformat": "object",
        "showSwatch": false,
        "showPicker": true,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "true",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "home/ligth/rgb",
        "topicType": "msg",
        "className": "",
        "x": 470,
        "y": 620,
        "wires": [
            [
                "9d7c68e7e218b5a0"
            ]
        ]
    },
    {
        "id": "7a58c24ddadf2de6",
        "type": "mqtt out",
        "z": "c4fad207f982e03f",
        "name": "",
        "topic": "home/ligth/rgb",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "89895e19de20a335",
        "x": 700,
        "y": 780,
        "wires": []
    },
    {
        "id": "96bfd82066626529",
        "type": "function",
        "z": "c4fad207f982e03f",
        "name": "function 3",
        "func": "if (msg.payload === true) {\n    return {\n        payload: { \"r\": 100, \"g\": 100, \"b\": 100,\"a\":1}, // Mantém a cor selecionada\n        enabled: true // Habilita o color picker\n    };\n} else {\n    return {\n        payload: \"#000000\", // Cor inicial branca\n        enabled: false // Desabilita o color picker\n    };\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 780,
        "wires": [
            [
                "9a234bfbb8a9402b"
            ]
        ]
    },
    {
        "id": "4a66f3c8acf2b5bc",
        "type": "ui_switch",
        "z": "c4fad207f982e03f",
        "name": "",
        "label": "QUARTO",
        "tooltip": "",
        "group": "31e5291a19a72c92",
        "order": 4,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 100,
        "y": 820,
        "wires": [
            [
                "96bfd82066626529"
            ]
        ]
    },
    {
        "id": "2056f00d4133ebf5",
        "type": "inject",
        "z": "c4fad207f982e03f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "str",
        "x": 130,
        "y": 740,
        "wires": [
            [
                "96bfd82066626529"
            ]
        ]
    },
    {
        "id": "9a234bfbb8a9402b",
        "type": "ui_colour_picker",
        "z": "c4fad207f982e03f",
        "name": "",
        "label": "",
        "group": "31e5291a19a72c92",
        "format": "rgb",
        "outformat": "object",
        "showSwatch": false,
        "showPicker": true,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "true",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "home/ligth/rgb",
        "topicType": "msg",
        "className": "",
        "x": 470,
        "y": 780,
        "wires": [
            [
                "7a58c24ddadf2de6"
            ]
        ]
    },
    {
        "id": "72cc56167616afdf",
        "type": "ui_dropdown",
        "z": "f37c9f369d824e1f",
        "name": "",
        "label": "Modos",
        "tooltip": "",
        "place": "Select option",
        "group": "6a9428c91ab8b217",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Modo Noturno",
                "value": "modo_norturno",
                "type": "str"
            },
            {
                "label": "Modo Dia",
                "value": "modo_dia",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 130,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "bf3c2cfde862a5b8",
        "type": "ui_switch",
        "z": "f37c9f369d824e1f",
        "name": "",
        "label": "Alarme",
        "tooltip": "",
        "group": "6a9428c91ab8b217",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "48417b9c394336cb",
        "type": "ui_switch",
        "z": "f37c9f369d824e1f",
        "name": "",
        "label": "Tranca",
        "tooltip": "",
        "group": "6a9428c91ab8b217",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "a66b6f212505f627",
        "type": "mqtt out",
        "z": "70068137e54b09a8",
        "name": "",
        "topic": "home/cooling",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "89895e19de20a335",
        "x": 750,
        "y": 80,
        "wires": []
    },
    {
        "id": "7e2436b9244eff73",
        "type": "range",
        "z": "70068137e54b09a8",
        "minin": "0",
        "maxin": "100",
        "minout": "0",
        "maxout": "255",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 580,
        "y": 80,
        "wires": [
            [
                "a66b6f212505f627"
            ]
        ]
    },
    {
        "id": "6d1cec86902c9aab",
        "type": "ui_slider",
        "z": "70068137e54b09a8",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "3bafb5f4d0dd6d9e",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": "10",
        "className": "",
        "x": 430,
        "y": 80,
        "wires": [
            [
                "7e2436b9244eff73"
            ]
        ]
    },
    {
        "id": "f1855334c21e3122",
        "type": "function",
        "z": "70068137e54b09a8",
        "name": "function 1",
        "func": "if (msg.payload === true) {\n    msg.enabled = true;\n    msg.payload = 30;\n} else {\n    msg.enabled = false;\n    msg.payloas = 0;\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 80,
        "wires": [
            [
                "6d1cec86902c9aab"
            ]
        ]
    },
    {
        "id": "a0ce0836273646e6",
        "type": "ui_switch",
        "z": "70068137e54b09a8",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "3bafb5f4d0dd6d9e",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "f1855334c21e3122"
            ]
        ]
    },
    {
        "id": "3fe613acf3427a6e",
        "type": "inject",
        "z": "70068137e54b09a8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "str",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "f1855334c21e3122"
            ]
        ]
    }
]