service/Docker/compose/node-red-data/flows.json
[
    {
        "id": "62947d5f581f77cb",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c4fad207f982e03f",
        "type": "tab",
        "label": "Ligths",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f37c9f369d824e1f",
        "type": "tab",
        "label": "Security",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "70068137e54b09a8",
        "type": "tab",
        "label": "Cooling",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3563d00d68873830",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#613583",
                "baseFont": "Impact,Impact,Charcoal,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#813d9c",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#813d9c",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#813d9c",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#a763c2",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#813d9c",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Kratos Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "89895e19de20a335",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7426176b38d2a214",
        "type": "ui_tab",
        "name": "Temperature",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0fc7b11b032ba303",
        "type": "ui_group",
        "name": "Lampadas Gerais",
        "tab": "5911a32f8c4a19e4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6a9428c91ab8b217",
        "type": "ui_group",
        "name": "Entrada 2",
        "tab": "ed955c3abd5fad2e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3bafb5f4d0dd6d9e",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "7426176b38d2a214",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ed955c3abd5fad2e",
        "type": "ui_tab",
        "name": "Security",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5911a32f8c4a19e4",
        "type": "ui_tab",
        "name": "Iluminação Geral",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fa42c91cfff92338",
        "type": "ui_group",
        "name": "Suíte",
        "tab": "2b710414a9696ab7",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2d5befcb7783d100",
        "type": "ui_group",
        "name": "Sala",
        "tab": "a2693138a548ed14",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2b710414a9696ab7",
        "type": "ui_tab",
        "name": "Suite",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f5e5857d7641453a",
        "type": "ui_group",
        "name": "Entrada 1",
        "tab": "ed955c3abd5fad2e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a2693138a548ed14",
        "type": "ui_tab",
        "name": "Sala",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c170da322eb935c7",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "7426176b38d2a214",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "258a13c4da54a180",
        "type": "ui_spacer",
        "z": "62947d5f581f77cb",
        "name": "spacer",
        "group": "c170da322eb935c7",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "1ff1c9fa3da5ad76",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "7426176b38d2a214",
        "order": 3,
        "disp": true,
        "width": 6
    },
    {
        "id": "c1ebf1a0d06f37b4",
        "type": "mqtt in",
        "z": "62947d5f581f77cb",
        "name": "",
        "topic": "join",
        "qos": "0",
        "datatype": "utf8",
        "broker": "89895e19de20a335",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 140,
        "wires": [
            [
                "a9f7286c5b429cc1"
            ]
        ]
    },
    {
        "id": "a9f7286c5b429cc1",
        "type": "ui_toast",
        "z": "62947d5f581f77cb",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "casa",
        "name": "Notification",
        "x": 270,
        "y": 140,
        "wires": []
    },
    {
        "id": "c2ce2ba782e2fbca",
        "type": "aedes broker",
        "z": "62947d5f581f77cb",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 130,
        "y": 80,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "92fa4a7e27edf390",
        "type": "mqtt in",
        "z": "62947d5f581f77cb",
        "name": "",
        "topic": "status",
        "qos": "0",
        "datatype": "utf8",
        "broker": "89895e19de20a335",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 200,
        "wires": [
            [
                "a9f7286c5b429cc1"
            ]
        ]
    },
    {
        "id": "bd85c7799015bc54",
        "type": "mqtt in",
        "z": "62947d5f581f77cb",
        "name": "",
        "topic": "home/sensor/door/porta1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "89895e19de20a335",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 280,
        "wires": [
            [
                "1391c03f44353b3c"
            ]
        ]
    },
    {
        "id": "1391c03f44353b3c",
        "type": "ui_toast",
        "z": "62947d5f581f77cb",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "casa",
        "name": "Notification",
        "x": 390,
        "y": 280,
        "wires": []
    },
    {
        "id": "33eee9a40f27fc26",
        "type": "mqtt out",
        "z": "c4fad207f982e03f",
        "name": "",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "89895e19de20a335",
        "x": 370,
        "y": 180,
        "wires": []
    },
    {
        "id": "f93185268a5b65ef",
        "type": "ui_switch",
        "z": "c4fad207f982e03f",
        "name": "",
        "label": "Banheiro",
        "tooltip": "",
        "group": "0fc7b11b032ba303",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "home/lamp",
        "topicType": "str",
        "style": "",
        "onvalue": "{\"lampNumber\":1,\"isOn\":true,\"name\":\"banheiro\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"lampNumber\":1,\"isOn\":false,\"name\":\"banheiro\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "33eee9a40f27fc26"
            ]
        ]
    },
    {
        "id": "865bff9036730978",
        "type": "ui_switch",
        "z": "c4fad207f982e03f",
        "name": "",
        "label": "Lamp SUITE",
        "tooltip": "",
        "group": "fa42c91cfff92338",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "home/lamp",
        "topicType": "str",
        "style": "",
        "onvalue": "{\"lampNumber\":2,\"isOn\":true,\"name\":\"suite\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"lampNumber\":2,\"isOn\":false,\"name\":\"suite\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "33eee9a40f27fc26"
            ]
        ]
    },
    {
        "id": "389aa80be53d35ed",
        "type": "ui_switch",
        "z": "c4fad207f982e03f",
        "name": "",
        "label": "Luz Sala",
        "tooltip": "",
        "group": "2d5befcb7783d100",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "home/lamp",
        "topicType": "str",
        "style": "",
        "onvalue": "{\"lampNumber\":0,\"isOn\":true,\"name\":\"sala\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"lampNumber\":0,\"isOn\":false,\"name\":\"sala\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 60,
        "wires": [
            [
                "33eee9a40f27fc26"
            ]
        ]
    },
    {
        "id": "9d7c68e7e218b5a0",
        "type": "mqtt out",
        "z": "c4fad207f982e03f",
        "name": "",
        "topic": "home/ligth/rgb",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "89895e19de20a335",
        "x": 940,
        "y": 560,
        "wires": []
    },
    {
        "id": "58a5060701c4a92e",
        "type": "ui_switch",
        "z": "c4fad207f982e03f",
        "name": "",
        "label": "Lamp 2",
        "tooltip": "",
        "group": "0fc7b11b032ba303",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "home/lamp",
        "topicType": "str",
        "style": "",
        "onvalue": "{\"lampNumber\":4,\"isOn\":true,\"name\":\"lampada 2\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"lampNumber\":4,\"isOn\":false,\"name\":\"lampada 2\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 220,
        "wires": [
            [
                "33eee9a40f27fc26"
            ]
        ]
    },
    {
        "id": "d2cad7b2a4943a6b",
        "type": "ui_switch",
        "z": "c4fad207f982e03f",
        "name": "",
        "label": "Lamp 3",
        "tooltip": "",
        "group": "0fc7b11b032ba303",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "home/lamp",
        "topicType": "str",
        "style": "",
        "onvalue": "{\"lampNumber\":5,\"isOn\":true,\"name\":\"lampada 3\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"lampNumber\":5,\"isOn\":false,\"name\":\"lampada 3\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 260,
        "wires": [
            [
                "33eee9a40f27fc26"
            ]
        ]
    },
    {
        "id": "e9f5a70245227b76",
        "type": "ui_switch",
        "z": "c4fad207f982e03f",
        "name": "",
        "label": "Lamp 1",
        "tooltip": "",
        "group": "0fc7b11b032ba303",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "home/lamp",
        "topicType": "str",
        "style": "",
        "onvalue": "{\"lampNumber\":3,\"isOn\":true,\"name\":\"lampada 1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"lampNumber\":3,\"isOn\":false,\"name\":\"lampada 1\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 180,
        "wires": [
            [
                "33eee9a40f27fc26"
            ]
        ]
    },
    {
        "id": "b00fa90491e4f80e",
        "type": "function",
        "z": "c4fad207f982e03f",
        "name": "function 2",
        "func": "if (msg.payload === true) {\n    return {\n        payload: { \"r\": 100, \"g\": 100, \"b\": 100,\"a\":1}, // Mantém a cor selecionada\n        enabled: true // Habilita o color picker\n    };\n} else {\n    return {\n        payload: \"#000000\", // Cor inicial branca\n        enabled: false // Desabilita o color picker\n    };\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 460,
        "wires": [
            [
                "ee9d44a73c9c9a4d"
            ]
        ]
    },
    {
        "id": "41f5d33819526c2d",
        "type": "ui_switch",
        "z": "c4fad207f982e03f",
        "name": "",
        "label": "SUITE-LED",
        "tooltip": "",
        "group": "fa42c91cfff92338",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": false,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 500,
        "wires": [
            [
                "b00fa90491e4f80e"
            ]
        ]
    },
    {
        "id": "481d9304fffe2a79",
        "type": "inject",
        "z": "c4fad207f982e03f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "str",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "b00fa90491e4f80e"
            ]
        ]
    },
    {
        "id": "ee9d44a73c9c9a4d",
        "type": "ui_colour_picker",
        "z": "c4fad207f982e03f",
        "name": "",
        "label": "",
        "group": "fa42c91cfff92338",
        "format": "rgb",
        "outformat": "object",
        "showSwatch": false,
        "showPicker": true,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "true",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "home/ligth/rgb/suite",
        "topicType": "msg",
        "className": "",
        "x": 470,
        "y": 440,
        "wires": [
            [
                "5fd248434658804f"
            ]
        ]
    },
    {
        "id": "72cc56167616afdf",
        "type": "ui_dropdown",
        "z": "c4fad207f982e03f",
        "name": "",
        "label": "Modos Suíte",
        "tooltip": "",
        "place": "Select option",
        "group": "fa42c91cfff92338",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Modo Calmo",
                "value": "modo_calmo",
                "type": "str"
            },
            {
                "label": "Modo Padrão",
                "value": "modo_default",
                "type": "str"
            },
            {
                "label": "Desativado",
                "value": "desativado",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 470,
        "y": 480,
        "wires": [
            [
                "a3d47c76df79c4c2",
                "5fd248434658804f"
            ]
        ]
    },
    {
        "id": "8111810b665803ea",
        "type": "ui_dropdown",
        "z": "c4fad207f982e03f",
        "name": "",
        "label": "Modos Sala",
        "tooltip": "",
        "place": "Select option",
        "group": "2d5befcb7783d100",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Modo Festa",
                "value": "modo_festa",
                "type": "str"
            },
            {
                "label": "Modo Calmo",
                "value": "modo_calmo",
                "type": "str"
            },
            {
                "label": "Modo Padrão",
                "value": "modo_default",
                "type": "str"
            },
            {
                "label": "Desativado",
                "value": "desativado",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 450,
        "y": 660,
        "wires": [
            [
                "1bcd579d95e3654b",
                "21a205609e11d279"
            ]
        ]
    },
    {
        "id": "457b2e10ffe8b032",
        "type": "function",
        "z": "c4fad207f982e03f",
        "name": "function 5",
        "func": "if (msg.payload === true) {\n    return {\n        payload: { \"r\": 100, \"g\": 100, \"b\": 100,\"a\":1}, // Mantém a cor selecionada\n        enabled: true // Habilita o color picker\n    };\n} else {\n    return {\n        payload: \"#000000\", // Cor inicial branca\n        enabled: false // Desabilita o color picker\n    };\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 640,
        "wires": [
            [
                "7dec72c07c6e36ec",
                "8111810b665803ea"
            ]
        ]
    },
    {
        "id": "ee19be597337af5a",
        "type": "ui_switch",
        "z": "c4fad207f982e03f",
        "name": "",
        "label": "SALA-LED",
        "tooltip": "",
        "group": "2d5befcb7783d100",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": false,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 680,
        "wires": [
            [
                "457b2e10ffe8b032"
            ]
        ]
    },
    {
        "id": "1b9ae99d341c7fea",
        "type": "inject",
        "z": "c4fad207f982e03f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "str",
        "x": 150,
        "y": 600,
        "wires": [
            [
                "457b2e10ffe8b032"
            ]
        ]
    },
    {
        "id": "7dec72c07c6e36ec",
        "type": "ui_colour_picker",
        "z": "c4fad207f982e03f",
        "name": "",
        "label": "",
        "group": "2d5befcb7783d100",
        "format": "rgb",
        "outformat": "object",
        "showSwatch": false,
        "showPicker": true,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "true",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "home/ligth/rgb/sala",
        "topicType": "msg",
        "className": "",
        "x": 450,
        "y": 620,
        "wires": [
            [
                "21a205609e11d279"
            ]
        ]
    },
    {
        "id": "c9bc45c16b5a48dc",
        "type": "comment",
        "z": "c4fad207f982e03f",
        "name": "IMPLEMENTAR MODOS",
        "info": "",
        "x": 550,
        "y": 380,
        "wires": []
    },
    {
        "id": "81909e1a2dabd347",
        "type": "link in",
        "z": "c4fad207f982e03f",
        "name": "suite",
        "links": [
            "a9c2b83d1369f49e"
        ],
        "x": 65,
        "y": 140,
        "wires": [
            [
                "865bff9036730978"
            ]
        ]
    },
    {
        "id": "a9c2b83d1369f49e",
        "type": "link out",
        "z": "c4fad207f982e03f",
        "name": "suite",
        "mode": "link",
        "links": [
            "3c1760327424acae",
            "81909e1a2dabd347"
        ],
        "x": 745,
        "y": 520,
        "wires": []
    },
    {
        "id": "a3d47c76df79c4c2",
        "type": "function",
        "z": "c4fad207f982e03f",
        "name": "function 7",
        "func": "if(msg.payload == \"desativado\"){\n    msg.enabled = true;\n}else{\n    msg.enabled = false;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 520,
        "wires": [
            [
                "a9c2b83d1369f49e"
            ]
        ]
    },
    {
        "id": "2378322195bd7798",
        "type": "link out",
        "z": "c4fad207f982e03f",
        "name": "Modo Sala",
        "mode": "link",
        "links": [
            "2ec3b9e98e12f904",
            "d5c0ca1d14366be0"
        ],
        "x": 765,
        "y": 740,
        "wires": []
    },
    {
        "id": "1bcd579d95e3654b",
        "type": "function",
        "z": "c4fad207f982e03f",
        "name": "function 8",
        "func": "if(msg.payload == \"desativado\"){\n    msg.enabled = true;\n}else{\n    msg.enabled = false;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 740,
        "wires": [
            [
                "2378322195bd7798"
            ]
        ]
    },
    {
        "id": "2ec3b9e98e12f904",
        "type": "link in",
        "z": "c4fad207f982e03f",
        "name": "Sala",
        "links": [
            "2378322195bd7798"
        ],
        "x": 65,
        "y": 60,
        "wires": [
            [
                "389aa80be53d35ed"
            ]
        ]
    },
    {
        "id": "3c1760327424acae",
        "type": "link in",
        "z": "c4fad207f982e03f",
        "name": "Suite",
        "links": [
            "a9c2b83d1369f49e"
        ],
        "x": 25,
        "y": 500,
        "wires": [
            [
                "41f5d33819526c2d"
            ]
        ]
    },
    {
        "id": "d5c0ca1d14366be0",
        "type": "link in",
        "z": "c4fad207f982e03f",
        "name": "Sala",
        "links": [
            "2378322195bd7798"
        ],
        "x": 25,
        "y": 680,
        "wires": [
            [
                "ee19be597337af5a"
            ]
        ]
    },
    {
        "id": "5fd248434658804f",
        "type": "function",
        "z": "c4fad207f982e03f",
        "name": "function 9",
        "func": "var jsonRGB = msg.payload;\n\n// Crie um novo JSON com o campo \"index\" adicionado\nvar novoJSON = {\n    \"index\": 0, // Substitua 123 pelo valor do índice desejado\n    \"rgb\": jsonRGB // Mantém o JSON de RGB intacto\n};\n\n// Envie o novo JSON para a próxima etapa\nmsg.payload = novoJSON;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 440,
        "wires": [
            [
                "9d7c68e7e218b5a0",
                "863908508e131a7d"
            ]
        ]
    },
    {
        "id": "21a205609e11d279",
        "type": "function",
        "z": "c4fad207f982e03f",
        "name": "function 10",
        "func": "var jsonRGB = msg.payload;\n\n// Crie um novo JSON com o campo \"index\" adicionado\nvar novoJSON = {\n    \"index\": 1, // Substitua 123 pelo valor do índice desejado\n    \"rgb\": jsonRGB // Mantém o JSON de RGB intacto\n};\n\n// Envie o novo JSON para a próxima etapa\nmsg.payload = novoJSON;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 640,
        "wires": [
            [
                "9d7c68e7e218b5a0",
                "863908508e131a7d"
            ]
        ]
    },
    {
        "id": "863908508e131a7d",
        "type": "debug",
        "z": "c4fad207f982e03f",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 440,
        "wires": []
    },
    {
        "id": "bf3c2cfde862a5b8",
        "type": "ui_switch",
        "z": "f37c9f369d824e1f",
        "name": "",
        "label": "Alarme Porta 1",
        "tooltip": "",
        "group": "f5e5857d7641453a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 240,
        "wires": [
            [
                "33c6d89eb966aafb"
            ]
        ]
    },
    {
        "id": "48417b9c394336cb",
        "type": "ui_switch",
        "z": "f37c9f369d824e1f",
        "name": "",
        "label": "Tranca Porta 1",
        "tooltip": "",
        "group": "f5e5857d7641453a",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{\"lockNumber\":0,\"isLock\":true,\"lockName\":\"porta_1\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"lockNumber\":0,\"isLock\":false,\"lockName\":\"porta_1\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "e5ecfe2dc196c044"
            ]
        ]
    },
    {
        "id": "e5ecfe2dc196c044",
        "type": "mqtt out",
        "z": "f37c9f369d824e1f",
        "name": "",
        "topic": "home/security/lockers",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "89895e19de20a335",
        "x": 400,
        "y": 160,
        "wires": []
    },
    {
        "id": "4fa8fefad3eb87b8",
        "type": "ui_switch",
        "z": "f37c9f369d824e1f",
        "name": "",
        "label": "Alarme Porta 2",
        "tooltip": "",
        "group": "6a9428c91ab8b217",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "33c6d89eb966aafb"
            ]
        ]
    },
    {
        "id": "ddf538dc4f7bcac9",
        "type": "ui_switch",
        "z": "f37c9f369d824e1f",
        "name": "",
        "label": "Tranca Porta 2",
        "tooltip": "",
        "group": "6a9428c91ab8b217",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "{     \"lockNumber\": 1,     \"isLock\": true,     \"lockName\": \"porta_2\" }",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"lockNumber\":1,\"isLock\":false,\"lockName\":\"porta_2\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 180,
        "wires": [
            [
                "e5ecfe2dc196c044"
            ]
        ]
    },
    {
        "id": "a64cef838a70b072",
        "type": "mqtt in",
        "z": "f37c9f369d824e1f",
        "name": "",
        "topic": "home/sensor/door/porta_1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "89895e19de20a335",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 380,
        "wires": [
            [
                "04f04615afed3e43",
                "6e36de3bd504b4a1"
            ]
        ]
    },
    {
        "id": "04f04615afed3e43",
        "type": "ui_toast",
        "z": "f37c9f369d824e1f",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 440,
        "y": 380,
        "wires": []
    },
    {
        "id": "6e36de3bd504b4a1",
        "type": "debug",
        "z": "f37c9f369d824e1f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 460,
        "wires": []
    },
    {
        "id": "8314d23c489953f6",
        "type": "mqtt in",
        "z": "f37c9f369d824e1f",
        "name": "",
        "topic": "home/sensor/door/porta_2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "89895e19de20a335",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 460,
        "wires": [
            [
                "04f04615afed3e43",
                "6e36de3bd504b4a1"
            ]
        ]
    },
    {
        "id": "33c6d89eb966aafb",
        "type": "mqtt out",
        "z": "f37c9f369d824e1f",
        "name": "",
        "topic": "security/sensor/door",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "89895e19de20a335",
        "x": 400,
        "y": 260,
        "wires": []
    },
    {
        "id": "a66b6f212505f627",
        "type": "mqtt out",
        "z": "70068137e54b09a8",
        "name": "",
        "topic": "home/cooling",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "89895e19de20a335",
        "x": 870,
        "y": 80,
        "wires": []
    },
    {
        "id": "7e2436b9244eff73",
        "type": "range",
        "z": "70068137e54b09a8",
        "minin": "0",
        "maxin": "100",
        "minout": "0",
        "maxout": "255",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 720,
        "y": 80,
        "wires": [
            [
                "a66b6f212505f627"
            ]
        ]
    },
    {
        "id": "6d1cec86902c9aab",
        "type": "ui_slider",
        "z": "70068137e54b09a8",
        "name": "",
        "label": "speed",
        "tooltip": "",
        "group": "3bafb5f4d0dd6d9e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": "10",
        "className": "",
        "x": 590,
        "y": 80,
        "wires": [
            [
                "7e2436b9244eff73"
            ]
        ]
    },
    {
        "id": "f1855334c21e3122",
        "type": "function",
        "z": "70068137e54b09a8",
        "name": "function 1",
        "func": "if (msg.payload === true) {\n    msg.enabled = true;\n    msg.payload = 30;\n} else {\n    msg.enabled = false;\n    msg.payload = 0;\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 100,
        "wires": [
            [
                "6d1cec86902c9aab",
                "2bbb089494d161d4"
            ]
        ]
    },
    {
        "id": "a0ce0836273646e6",
        "type": "ui_switch",
        "z": "70068137e54b09a8",
        "name": "",
        "label": "Ar-condicionado (LIGA/DESLIGA)",
        "tooltip": "",
        "group": "3bafb5f4d0dd6d9e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 200,
        "y": 120,
        "wires": [
            [
                "f1855334c21e3122"
            ]
        ]
    },
    {
        "id": "3fe613acf3427a6e",
        "type": "inject",
        "z": "70068137e54b09a8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "str",
        "x": 290,
        "y": 80,
        "wires": [
            [
                "f1855334c21e3122"
            ]
        ]
    },
    {
        "id": "342a78aa5fec7e02",
        "type": "ui_chart",
        "z": "70068137e54b09a8",
        "name": "",
        "group": "c170da322eb935c7",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature Monitor",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "10",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "9e803503eb40a084",
        "type": "mqtt in",
        "z": "70068137e54b09a8",
        "name": "",
        "topic": "home/sensor/dhtsensor",
        "qos": "0",
        "datatype": "utf8",
        "broker": "89895e19de20a335",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 300,
        "wires": [
            [
                "127d46e026772f3e",
                "179587ab797980c5"
            ]
        ]
    },
    {
        "id": "127d46e026772f3e",
        "type": "function",
        "z": "70068137e54b09a8",
        "name": "function 3",
        "func": "let data = JSON.parse(msg.payload);\nlet temperature = parseFloat(data.temperature).toFixed(2);\n\nlet newMsg = {\n    payload: temperature\n};\n\nreturn newMsg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 280,
        "wires": [
            [
                "342a78aa5fec7e02",
                "08e92d7f5702cc5f"
            ]
        ]
    },
    {
        "id": "08e92d7f5702cc5f",
        "type": "ui_numeric",
        "z": "70068137e54b09a8",
        "name": "",
        "label": "Temperatura de acionamento maxima",
        "tooltip": "",
        "group": "c170da322eb935c7",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "16",
        "max": "27",
        "step": 1,
        "className": "",
        "x": 610,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "49c949e2645cf328",
        "type": "ui_text",
        "z": "70068137e54b09a8",
        "group": "3bafb5f4d0dd6d9e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "STATUS:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "Tahoma,Geneva,sans-serif",
        "fontSize": 16,
        "color": "#0affad",
        "x": 740,
        "y": 140,
        "wires": []
    },
    {
        "id": "2bbb089494d161d4",
        "type": "function",
        "z": "70068137e54b09a8",
        "name": "function 4",
        "func": "if (msg.payload > 0){\n    msg.payload = \"Ligado\";\n}else{\n    msg.payload = \"Desligado\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 140,
        "wires": [
            [
                "49c949e2645cf328"
            ]
        ]
    },
    {
        "id": "179587ab797980c5",
        "type": "debug",
        "z": "70068137e54b09a8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 380,
        "wires": []
    }
]